<h1>Create a new transaction:</h1>
<%= form_for @transaction, :url => account_transactions_path do |form| %>

    <%= form.label :external_id, "id" %>
    <%= form.number_field :external_id, placeholder: "id" %>

    <%= form.label :label, "LABEL" %>
    <%= form.text_field :label, placeholder: "LABEL" %>

    <%= form.label :currency, "CURRENCY" %>
    <%= form.select :currency, [["EURO", "EU"], ["US Dollar", "USD"]], selected: "EURO" %>

    <%= form.label :transaction_type, "TRANSACTION TYPE" %>
    <%= form.select :transaction_type, [["Payin", "payin"], ["Payout", "payout"]] %>

    <%= form.label :currency_balance, "BALANCE" %>
    <%= form.text_field :currency_balance, placeholder: "$ $ $" %>

    <%= form.submit 'CREATE'%>
<% end %>

