<h1>show#transactions</h1>
<h1>ACCOUNT TRANSACTIONS</h1>
<div>
  <table class="col-md-6 col-md-offset-3">
    <tr>
    <th>ID (account)</th>
    <th>ID (external)</th>
    <th>Currency</th>
    <th>BALANCE</th>
    <th>Label</th>
    <th>Type</th>
  </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account_id %></td>   
        <td><%= transaction.external_id %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.currency_balance %></td>
        <td><%= transaction.label %></td>
        <td><%= transaction.transaction_type %></td>
      </tr>
	</table>
</div>

