<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "VIKTOR`S TASK", root_path, id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Accounts", accounts_path %></li>
<li><%= link_to "Load CSV", file_form_path %></li>
<li><%= link_to "Sign Up", new_path %></li>
<li><%= link_to "Log in", '#' %></li>
</ul>
</nav>
</div>
</header>