<h1>Create new wallet</h1>
<%= form_for @account do |form| %>
    <%= form.label :label, "LABEL" %>
    <%= form.text_field :label, placeholder: "LABEL:" %>

    <%= form.label :iban, "IBAN" %>
    <%= form.text_field :iban, placeholder: "IBAN:" %>

    <%= form.label :balance, "BALANCE" %>
    <%= form.text_field :balance, placeholder: "BALANCE:" %>

    <%= form.label :external_id, "ID" %>
    <%= form.text_field :external_id, placeholder: "ID:" %>
    
    <%= form.submit %>
<% end %>