<h1>ACCOUNT INFO</h1>
<div>
    <table class="col-md-6 col-md-offset-3">
        <tr>
            <th>Label</th>              
            <th>IBAN</th>                      
            <th>CURRENCY</th>
            <th>BALANCE</th>
            <th>ID</th>
        </tr>
        <tr>
            <td><%= @account.label %></td>   
            <td><%= @account.iban %></td>
            <td><%= @account.currency %></td>
            <td><%= @account.currency_balance %></td>
            <td><%= @account.external_id %></td>
        </tr>
    </table>
</div>
 
